<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet1-29</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <img src="/img/image.jpg" :width="width" @[choix]="aggrandir">
        <div>
            <input type="radio" v-model="choix" value="click" checked>Simple clic</input>
            <input type="radio" v-model="choix" value="dblclick">Double clic</input>
        </div>
    </div>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    width: 100,
                    choix: 'click'
                }
            },
            methods: {
                aggrandir() {
                    this.width = this.width * 1.1;
                }
            }

        });

        app.mount('#app');
    </script>
</body>

</html>